<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="user-name" class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile is-uppercase has-text-weight-normal mb-0">
            Welcome, <%= current_user.first_name %>!
          </p>
        </div>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-third-tablet is-narrow-mobile">
          <a href="<%= voter_next_path %>" class="button is-primary is-link is-size-5-tablet is-size-7-mobile">Contact Network</a>
        </div>
        <% if current_user.is_admin %>
        <div class="column is-third-tablet is-narrow-mobile" >
          <a href="<%= show_dashboard_path %>" class="button is-primary is-link is-size-5-tablet is-size-7-mobile">View Dashboard</a>
        </div>
        <div class="column is-third-tablet is-narrow-mobile" >
          <a href="<%= imports_path %>" class="button is-primary is-link is-size-5-tablet is-size-7-mobile">Import Reach Data</a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="user-stats" class="section">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p style="color:royalblue">Total Contacts</p>
        <p class="title" style="color:royalblue"><%= @contacts.size %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p style="color:green">Confirmed registrations</p>
        <p class="title" style="color:green"><%= @contacts.select {|c| c.voter_registration_status_display == "Registered in PA HD 82"}.count%></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p style="color:orange">Pending registrations</p>
        <p class="title" style="color:orange"><%= @contacts.select {|c| c.voter_registration_status_display == "Pending registration in PA HD 82"}.count%></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p style="color:crimson">Unregistered voters</p>
        <p class="title" style="color:crimson"><%= @contacts.select {|c| c.voter_registration_status_display != "Pending registration in PA HD 82" && c.voter_registration_status_display != "Registered in PA HD 82"}.count%></p>
      </div>
    </div>
  </nav>
</section>

<section id="contacts" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="title mb-2">Your Contacts to Call</p>
        <span class="mini-info has-text-info has-background-info-light">
          Want to add more people to your network?
          <a class="has-text-info has-text-weight-bold"
            href="https://www.reach.vote/knowledge-base/contact-import/" target="_blank">Learn more here</a>.
        </span>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box contacts">
          <div class="table-container">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Email</th>
                  <th>Voter Registration Status</th>
                  <th>Vote Plan</th>
                  <th>Call Status</th>
                </tr>
              </thead>
              <tbody>
                <% if @contacts.any? %>
                  <% @contacts.each_with_index do |v, i| %>
                    <tr class="<%= i == (@contacts.size - 1) ? "has-household-members" : "" %>">
                      <td>
                        <%= link_to v.display_name, voter_path(v) %>
                      </td>
                      <td class="nowrap"><%= v.phone_number_display %></td>
                      <td><%= v.email || "No email given" %></td> <!-- does it defualt to an empty string anyway?-->
                      <td><%= v.voter_registration_status ? v.voter_registration_status_display : "Unavailable "%></td>
                      <td><%= v.vote_plan || "Unavailable" %></td>
                      <td><%= v.last_call_status_display %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr class="has-text-centered is-light p-5">
                    <td colspan="6">No contacts to show. Data may be 15-20 minutes delayed for recent Reach updates.</td>
                  </tr>
                <% end %>
                <tr class="household-member label">
                  <td colspan="6">Other voters in contacts' households:</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

