<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="user-name" class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile is-uppercase has-text-weight-normal mb-0">
            Welcome, <%= current_user.first_name %>!
          </p>
        </div>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <a href="<%= voter_next_path %>" class="button is-primary is-link is-size-4-tablet is-size-6-mobile">Start Contacting Your Network</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="user-stats" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="title">
          Your Stats
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box user-stat">
          <p class="title stat-value">
            <%= @contacts.size %>
          </p>
          <p class="subtitle stat-label">
            Direct contact<%= @contacts.size != 1 ? "s" : "" %>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box user-stat">
          <p class="title">
            <%= @contacted_size %>
          </p>
          <p class="subtitle stat-label">
            Voter<%= @contacted_size != 1 ? "s" : "" %> contacted
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacts" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="title mb-2">Your Contacts to Call</p>
        <span class="mini-info has-text-info has-background-info-light">
          Want to add more people to your network?
          <a class="has-text-info has-text-weight-bold"
            href="https://teamossoff.com/toolkit/guide-to-reach-and-relational-organizing">Learn more here</a>.
        </span>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box contacts">
          <div class="table-container">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Email</th>
                  <th>Voter Registration Status</th>
                  <th>Vote Plan</th>
                  <th>Call Status</th>
                </tr>
              </thead>
              <tbody>
                <% if @contacts.any? %>
                  <% @contacts.each_with_index do |v, i| %>
                    <tr class="<%= i == (@contacts.size - 1) ? "has-household-members" : "" %>">
                      <td>
                        <%= link_to v.display_name, voter_path(v) %>
                      </td>
                      <td class="nowrap"><%= v.phone_number_display %></td>
                      <td><%= v.email || "No email given" %></td> <!-- does it defualt to an empty string anyway?-->
                      <td><%= v.voter_registration_status ? v.voter_registration_status_display : "Unavailable "%></td>
                      <td><%= v.vote_plan || "Unavailable" %></td>
                      <td><%= v.last_call_status_display %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr class="has-text-centered is-light p-5">
                    <td colspan="6">No contacts to show. Data may be 15-20 minutes delayed for recent Reach updates.</td>
                  </tr>
                <% end %>
                <tr class="household-member label">
                  <td colspan="6">Other voters in contacts' households:</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

