<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-name" class="title is-uppercase is-1 has-text-weight-normal mb-0">
            <%= @voter.display_name %>
          </p>
        </div>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-phone" class="subtitle is-2"><%= @voter.phone_number_display %></p>
        </div>
      </div>
      <div id="voter-facts" class="columns is-centered has-text-centered mt-4">
        <div class="column is-narrow">
          📝 Plan: <%= @voter.vote_plan || "Unavailable" %>
        </div>
      </div>
      <% if @voter.polling_place_display %>
        <div id="voter-polling-place" class="columns is-centered has-text-centered mt-1">
          <div class="column is-narrow">
            <span class="box has-text-white mini-info has-background-info-dark is-rounded">
              📍 Polling place: <%= @voter.polling_place_display %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contact-actions" class="section">
  <div class="container">
    <div class="columns is-multiline is-centered is-mobile">
      <div class="column is-narrow">
        <%= form_tag voter_path(@voter), method: :patch do %>
          <%= hidden_field_tag :last_call_status, "should_call_again" %>
          <%= submit_tag "Mark to contact again", class: "button is-medium is-info is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <%= form_tag voter_path(@voter), method: :patch do %>
          <%= hidden_field_tag :last_call_status, "do_not_call" %>
          <%= submit_tag "Don't contact again", class: "button is-medium is-warning is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <a href="<%= voter_path(@voter) %>/next?skip=true" class="button is-link is-medium is-light">
          Skip for now
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full-tablet is-half-desktop">
        <div id="conversation-guide-wrapper">
          <p class="title">Conversation Guide</p>
          <div class="box content">
            <p class="title mb-1">Voting in-person on Tuesday</p>
            <p class="subtitle mb-1 mt-1">Goal</p>
            <p class="ml-4">
              Get contact to commit to a plan to vote.
              <ul>
                <li>Make sure they know their polling place</li>
                <li>What time will they go to the polls?</li>
                <li>How will they get there?</li>
                <li>Do they have their ID ready?</li>
              </ul>
            </p>

            <p class="subtitle mb-1">Key Info</p>
            <p class="ml-4">
              <ul>
                <li>Election Day is on Tuesday, January 5.</li>
                <li>Polls are open 7 AM - 7 PM.</li>
                <li>Bring photo ID</li>
                <li>Find your polling place at IWillVote.com.</li>
              </ul>
            </p>

            <p class="title mb-1">What do I need to bring with me to the polls?</p>
            <p class="ml-4">Just yourself, your photo ID and your mask!</p>

            <p class="title mb-1">What works as an ID?</p>
            <p class="ml-4">
              Any of these IDs will work. If you have questions, call the Voter Hotline: 888-730-5816.
              <ul>
                <li><b>A Georgia Driver’s License</b>, even if it’s expired</li>
                <li><b>Valid U.S. passport ID</b></li>
                <li>
                  <b>Any valid state or federal government issued photo ID</b>,
                  including a free ID Card issued by your county registrar’s office
                  or the Georgia Department of Driver Services (DDS)
                </li>
                <li><b>Valid employee photo ID</b> from any branch, department, agency, or entity of the U.S. Government, Georgia, or any county, municipality, board, authority or other entity of this state</li>
                <li><b>Valid U.S. military photo ID</b></li>
                <li><b>Valid tribal photo ID</b></li>
                <li><b>A student ID with photo</b> from a <b>public</b> (but not private!) <b>college, university, or technical college.</b></li>
              </ul>
            </p>
            <p class="title mb-1">How should I return my absentee ballot?</p>
            <p class="mb-4">
              <ul>
                <li>
                  It's too late to mail it in. Instead, you should <b>drop it in an official dropbox in your county.</b>
                </li>
                <li>Your ballot must be <b><i>received</i></b> by 7PM today (Tuesday, Jan. 5).</li>
                <li>A few counties don't have a drop box, but you can drop it off at the county elections office before they close on Tuesday.</li>
              </ul>
              <p>
                <b>→ FIND A DROPBOX:</b> <a href="http://ossoff.win/dropbox" target="_blank">ossoff.win/dropbox</a><br/>
              </p>
            </p>

            <p class="title mb-1">How can I get a ride to my polling place or dropbox?</p>
            <p class="ml-4">
              <p>Check out these resources!</p>
              <ul>
                <li><a href="https://www.ridestotherunoff.com" target="_blank">ridetotherunoff.com</a></li>
                <li><b>Uber</b> is offering  free roundtrip rides to polls or dropboxes with voucher code <b>"VoteGA"</b></li>
                <li>Call or text 1-800-590-VOTE or the New GA Project 1-800-874-1541</li>
                <li><b>Georgia ADAPT</b> provides accessible rides statewide for voters with disabilities. To request your ride, <b><a target="_blank" href="https://docs.google.com/forms/d/1vAyewYpU2sAVEc44Zzhfdj-bPiM4_xBOglr2qDdjdqM/viewform?ts=5fcb145f&edit_requested=true&gxids=7628">fill out this form.</a></b></li>
              </ul>
            </p>

            <p class="title mb-1">Helpful Links</p>
            <p class="ml-4">
              <p>FIND POLLING PLACE: <a href="http://IWillVote.com" target="_blank">IWillVote.com</a></p>
              <p>TRACK YOUR BALLOT: <a href="http://ossoff.win/track-ballot " target="_blank">ossoff.win/track-ballot </a></p>
              <p>DETAILS ON VOTING YOUR BALLOT: <a href="http://ossoff.win/absentee-details " target="_blank">ossoff.win/absentee-details </a></p>
              <p>FIND A DROPBOX: <a href="http://ossoff.win/dropbox" target="_blank">ossoff.win/dropbox</a></p>
              <p>HOTLINE: <a href="tel:888-730-5816" target="_blank">888-730-5816</a></p>
              <p>ACCEESSIBLE VOTER TEXTLINE: <a href="tel:833-566-1212">833-566-1212</a></p>
              <p>VOTER FAQ: <a href="http://electjon.com/faq " target="_blank">electjon.com/faq</a></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
