<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-name" class="title is-uppercase is-1 has-text-weight-normal mb-0">
            <%= @voter.display_name %>
          </p>
        </div>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-phone" class="subtitle is-2">
            <% if @voter.primary_phone_number %>
              <%= link_to @voter.phone_number_display, "tel:#{@voter.primary_phone_number}" %>
            <% else %>
              No phone number given
            <% end %>
          </p>
        </div>
      </div>
      <div id="voter-facts" class="columns is-centered has-text-centered mt-4">
        <div class="column is-narrow">
          📝 Plan: <%= @voter.vote_plan || "Unavailable" %>
        </div>
      </div>
      <% if @voter.polling_place_display %>
        <div id="voter-polling-place" class="columns is-centered has-text-centered mt-1">
          <div class="column is-narrow">
            <span class="box has-text-white mini-info has-background-info-dark is-rounded">
              📍 Polling place: <%= @voter.polling_place_display %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contact-actions" class="section">
  <div class="container">
    <div class="columns is-multiline is-centered is-mobile">
      <div class="column is-narrow">
        <%= form_for @voter do |f| %>
          <%= f.hidden_field :last_call_status, value: "should_call_again" %><!-- CHANGE THIS TO CONTACT AGAIN -->
          <%= f.submit "Mark to contact again", class: "button is-medium is-info is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <%= form_for @voter do |f| %>
          <%= f.hidden_field :last_call_status, value: "do_not_call" %><!-- CHANGE THIS TO DO NOT CONTACT -->
          <%= f.submit "Don't contact again", class: "button is-medium is-warning is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <a href="<%= voter_path(@voter) %>/next?skip=true" class="button is-link is-medium is-light">
          Skip for now
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column column is-full-tablet is-half-desktop">
          <div id="voter-profile">
              <div id="voter-profile-info">
                <p class="title"><%= @voter.first_name.capitalize %>'s Profile</p>
                <div class="box contacts">
                  <div class="table-container">
                    <table class="table is-fullwidth">
                        <tr>
                          <th>Number</th>
                          <td style='border:none;'>
                            <% if @voter.primary_phone_number %>
                              <%= link_to @voter.phone_number_display, "tel:#{@voter.primary_phone_number}" %>
                            <% else %>
                              No phone number given
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td style='border:none;'>
                            <% if @voter.email %>
                              <%= link_to @voter.email, "mailto:#{@voter.email}" %>
                            <% else %>
                              No email given
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>Registration</th>
                          <td style='border:none;'><%= @voter.voter_registration_status ? @voter.voter_registration_status_display : "Unavailable "%></tr>
                        </tr>
                        <tr>
                          <th>Voted in 2020</th>
                          <td style='border:none;'>Unavailable</td>
                        </tr>
                        <tr>
                          <th>Vote Plan</th>
                          <td style='border:none;'>Unavailable</td>
                        </tr>
                        <tr>
                          <th>Contact Status</th>
                          <td style='border:none;'><%= @voter.last_call_status_display %></td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
          </div>

          <div id="edit-voter-profile" style="padding-top: 10px;">
            <div id="edit-voter-profile-info">
              <div class="box contacts">
                <%= form_for @voter do |f| %>
                <div class="table-container">
                  <table class="table is-fullwidth"> 
                    <tr>
                      <th>Enter email</th>
                      <td style='border:none;'><%= f.email_field :email, class: "input"%></td>
                    </tr>
                    <tr>
                      <th>Registration status</th>
                      <td style='border:none;'><%= f.select :voter_registration_status, options_for_select(Voter.voter_registration_statuses.map {|k, v| [k.titleize, Voter.voter_registration_statuses.key(v)]}, @voter.voter_registration_status) %></td>
                    </tr>
                    <tr>
                      <th>Party ID</th>
                      <td style='border:none;'><%= f.select :party_id, options_for_select([ "Democrat", "Republican", "Independent", "Green", "Other" ], @voter.party_id) %></td>
                    </tr>
                    <tr>
                      <th>Notes</th>
                      <td style='border:none;'><%= f.text_area :notes, class: "textarea", placeholder: "Place notes here", style: "margin-top: 10px;" %></td>
                    </tr>
                  </table>
                  <%= f.submit "Save changes", class:"button is-active is-success is-medium is-light", style: "margin-top: 10px;" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div id="survey-voter-data" style="padding-top: 10px;">
            <div id="survey-voter-data-info">
              <div class="box contacts">
                <%= form_tag voter_path(@voter) + "/update_survey", id:"survey-form" do %>
                  <th><b>What issues are most important to you?</b></th>
                  <td style='border:none;'>
                  <br>
                  <%= check_box_tag :cares_about_climate, @voter.safe_survey_data["issues"]["cares_climate"], @voter.safe_survey_data["issues"]["cares_climate"] == "1" ? true : false %>
                  <%= label :cares_about_climate, "Climate change", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_gun_control, @voter.safe_survey_data["issues"]["cares_gun_control"], @voter.safe_survey_data["issues"]["cares_gun_control"] == "1" ? true : false %>
                  <%= label :cares_about_gun_control, "Gun control", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_healthcare, @voter.safe_survey_data["issues"]["cares_healthcare"], @voter.safe_survey_data["issues"]["cares_healthcare"] == "1" ? true : false %>
                  <%= label :cares_about_healthcare, "Healthcare", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_college_affordability, @voter.safe_survey_data["issues"]["cares_college_affordability"], @voter.safe_survey_data["issues"]["cares_college_affordability"] == "1" ? true : false %>
                  <%= label :cares_about_college_affordability, "College affordability", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_reproductive_rights, @voter.safe_survey_data["issues"]["cares_reproductive_rights"], @voter.safe_survey_data["issues"]["cares_reproductive_rights"] == "1" ? true : false %>
                  <%= label :cares_about_reproductive_rights, "Reproductive rights", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_transparency, @voter.safe_survey_data["issues"]["cares_transparency"], @voter.safe_survey_data["issues"]["cares_transparency"] == "1" ? true : false %>
                  <%= label :cares_about_transparency, "Accountability/transparency of government officials", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_marijuana, @voter.safe_survey_data["issues"]["cares_marijuana"], @voter.safe_survey_data["issues"]["cares_marijuana"] == "1" ? true : false %>
                  <%= label :cares_about_marijuana, "Marijuana legalization/Expungement of Records", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_gender_equity, @voter.safe_survey_data["issues"]["cares_gender_equity"], @voter.safe_survey_data["issues"]["cares_gender_equity"] == "1" ? true : false %>
                  <%= label :cares_about_gender_equity, "Gender equity/Title XI", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_gender_pay_gap, @voter.safe_survey_data["issues"]["cares_pay_gap"], @voter.safe_survey_data["issues"]["cares_pay_gap"] == "1" ? true : false %>
                  <%= label :cares_about_gender_pay_gap, "Gender pay gap", class: "tag is-info"%>
                  <br>
                  <%= check_box_tag :cares_about_sexual_assault, @voter.safe_survey_data["issues"]["cares_sexual_assault"], @voter.safe_survey_data["issues"]["cares_sexual_assault"] == "1" ? true : false %>
                  <%= label :cares_about_sexual_assault, "Sexual assault/violence", class: "tag is-info"%>
                  <br>
                  <th><b>Check this box if the voter was planning on voting in November prior to you reaching out to them:</b></th>
                  <td style='border:none;'>
                  <%= check_box_tag :planned_to_vote_before, @voter.safe_survey_data["plan_to_vote_before"], @voter.safe_survey_data["plan_to_vote_before"] == "1" ? true : false %>
                  <br>
                  <th><b>If the voter was planning on voting this November, check this box if they were planning on voting for Paul:</b></th>
                  <td style='border:none;'>
                  <%= check_box_tag :planned_to_vote_for_paul, @voter.safe_survey_data["plan_to_vote_for_paul"], @voter.safe_survey_data["plan_to_vote_for_paul"] == "1" ? true : false %>
                  <br>
                <%= submit_tag "Submit survey data", class:"button is-active is-success is-medium is-light", style: "margin-top: 10px;" %>
              <% end %>
              </div>
            </div>
          </div>
      </div>

      <div class="column is-full-tablet is-half-desktop">
        <div id="conversation-guide-wrapper">
          <p class="title">Conversation Guide</p>
          <div class="box content">
            <p class="title mb-1">Voting in-person on Tuesday, November 8th 🗳</p>
            <p>
              <p><b>Get your contact to commit to a plan to vote.</b></p>
              <ul>
                <li>Make sure they know their polling place</li>
                <li>What time will they go to the polls?</li>
                <li>How will they get there?</li>
                <li>Do they have their ID ready?</li>
              </ul>
            </p>

            <p><b>Key Info</b></p>
            <p class="ml-4">
              <ul>
                <li>Election Day is on <b>Tuesday, November 8.</b></li>
                <li>Polls are open <b>7 AM - 7 PM.</b></li>
                <li>Bring photo ID</li>
                <li>Find your polling place at <a href="https://www.pavoterservices.pa.gov/Pages/PollingPlaceInfo.aspx" target="_blank">PA Voter Services</a></li>
              </ul>
            </p>

            <p class="title mb-1">What works as an ID? 📂</p>
            <p class="ml-4">
              <b>All you need to bring to the polls is yourself and a photo ID!</b> Any of these IDs will work. You can also find this information by clicking <a href ="https://www.vote.pa.gov/Register-to-Vote/Pages/Voter-ID-for-First-Time-Voters.aspx" target="_blank">here.</a>
              <ul>
                <li>A Pennsylvania's driver license or PennDOT ID Card</li>
                <li>ID issued by any Commonwealth agency</li>
                <li>ID issued by the US Government</li>
                <li>U.S. Passport</li>
                <li>U.S. Armed Forces ID</li>
                <li>Student ID</li>
                <li>Employee ID</li>
              </ul>

              If you do not have a photo ID, you can use a non-photo identification that includes your name and address
              <ul>
                <li>Confirmation issued by the County Voter Registration Office</li>
                <li>Non-photo ID issued by the Commonwealth</li>
                <li>ID issued by the US Government</li>
                <li>Firearm permit</li>
                <li>Current utility bill</li>
                <li>Current bank statement</li>
                <li>Current paycheck</li>
                <li>Government paycheck</li>
              </ul>
            </p>
            <p class="title mb-1">Mail In Ballots 📬</p>
            <p class="ml-4">
              <ul>
                <li>
                  <b>You're allowed to vote by mail in Pennsylvania for ANY reason!</b> Request a mail in ballot by clicking <a href="https://www.pavoterservices.pa.gov/OnlineAbsenteeApplication/#/OnlineAbsenteeBegin" target="_blank">here</a>
                </li>
                <li>You can return completed mail-in ballots in <b>USPS mailboxes</b>, or drop it in an <b>official dropbox in your county.</b></li>
                <li>Your ballot must be <b><i>received</i></b> by <b>7PM, Tuesday. November 8th.</b></li>
              </ul>
              <p>
                <b>→ FIND A DROPBOX:</b> TBD<br/>
              </p>
            </p>

            <p class="title mb-1">Check out these resources! 💻</p>
            <p class="ml-4">
              <p>FIND POLLING PLACE: <a href="http://IWillVote.com" target="_blank">IWillVote.com</a></p>
              <p>TRACK YOUR BALLOT: <a href="https://www.pavoterservices.pa.gov/Pages/BallotTracking.aspx" target="_blank">PA SOS Ballot Tracker</a></p>
              <p>DETAILS ON VOTING YOUR BALLOT: TBD</p>
              <p>FIND A DROPBOX: TBD</p>
              <p>CENTRE COUNTY ELECTIONS OFFICE: <a href="tel:814-355-6703" target="_blank">814-355-6703</a> or <a mailto="tel:814-355-6703" target="_blank">elections@centrecountypa.gov</a></p>
              <p>VOTER FAQ: <a href="https://www.vote.pa.gov/Voting-in-PA/Pages/Elections-FAQs.aspx" target="_blank">PA SOS FAQ</a></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
