<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Takac 2022 - GOTV</title>
    <link rel="icon" type="image/png" href="/app/assets/images/nittany_lion_photo.png">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone"
      rel="stylesheet">
  </head>

  <body class="gotv-page">
    <% if flash[:confetti] %>
      <canvas id="confetti-canvas"></canvas>
    <% end %>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand py-4 px-5">
        <a class="navbar-item" href="/">
          <img id="logo" src="<%= asset_path "logo.png" %>" alt="Ossoff Logo">
        </a>
      </div>
    </nav>

    <% if flash[:warning] || flash[:success] || flash[:danger] %>
      <section class="hero is-link alerts">
        <div class="hero-body p-1">
          <div class="container">
            <% flash.each do |type, msg| %>
              <% unless type.to_s == "confetti" || type.to_s == "video" %>
                <div class="notification box mt-3 is-<%= type %>">
                  <%= msg %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>

    <%= yield %>

    <% if flash[:video] %>
      <section>
        <div id="video" class="modal is-active">
          <div class="modal-background close-video"></div>
          <div class="modal-content">
          <%# NOTE: bulma makes modal-content have max-width of 640px %>
            <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/<%= flash[:video] %>?autoplay=1&enablejsapi=1" frameborder="0"
              allowfullscreen></iframe>
          </div>
          <button class="modal-close is-large close-video" aria-label="close"></button>
        </div>
      </section>
    <% end %>
  </body>
  <!DOCTYPE html>
<html>
